body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

header {
    background-image: url('images/banner/banner1.png');
    height: 810px;
    background-repeat: no-repeat;

    text-align: right;
    margin-left: 150px;

}

/* .pos {
    margin-right: 300px;
} */

.contents {

    padding-left: 850px;
    padding-right: 230px;
    padding-top: 220px;
}


.head-title {
    font-size: 65px;
}

.title-des {
    margin-top: 24px;
}

.btn-primary {
    border-radius: 5px;
    background: #F15B22;

    color: #FFF;



    font-size: 20px;

    padding: 10px 20px;
    border: none;
}

.info-list {
    display: flex;
    align-items: center;
}

.info-des {
    padding-left: 10px;
}

.first-section {
    display: flex;
    margin-top: 200px;
    gap: 100px;
}

.about-me {
    padding-top: 250px;
    padding-right: 330px;

}

.my-img {
    padding-left: 350px;
}

.my-plan {
    text-align: center;
    font-size: 40px;
    
    font-weight: 700;
}

.plan {
    /* display: flex;
   
    margin-left: auto;
    margin-right: auto; */

    display: flex;
    justify-content: center;
    padding-left: 190px;
    margin-top: 100px;
    margin-bottom: 200px;
    /* align-items: center; */
}

.plan-list {
    margin-right: 200px;
}

.second-section {
    margin-top: 200px;
}

